services:
  app:
    build: .
    ports:
      - '4008:4008'
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - app-network
    restart: unless-stopped
    env_file:
      - .env

  db:
    image: mysql:8.0
    ports:
      - '3314:3306'
    environment:
      - MYSQL_DATABASE=frutaHouse_db
      - MYSQL_ROOT_PASSWORD=root
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost', '-u', 'root', '-proot']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped

  redis:
    image: redis:8.2.1-alpine
    ports:
      - '6380:6379'
    volumes:
      - redis-data:/data
    networks:
      - app-network
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    command: redis-server --appendonly yes

volumes:
  mysql-data:
  redis-data:

networks:
  app-network:
    driver: bridge